<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-gray-100 text-gray-900 font-sans">
    <div class="navbar bg-blue-600 text-white">
        <div class="navbar-start">
            <div class="dropdown">
                <button tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </button>
            </div>
            <a class="text-2xl font-bold pl-4" href="#">OpenWiki</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a id="open-search-form-button">Cerca articoli</a></li>
                <li><a id="view-user-articles-button">I miei articoli</a></li>
            </ul>
        </div>
        <div class="navbar-end"></div>
    </div>
    <div class="container mx-auto p-8 max-w-3xl">
      <div id="search-form-container" class="hidden">
          <form id="search-form" class="flex justify-center items-center mb-8">
              <input type="text" id="search-input" class="flex-grow text-xl p-2 border-2 border-gray-300 rounded-md mr-4 focus:outline-none focus:border-blue-500" placeholder="Inserisci il termine di ricerca"/>
              <button type="submit" class="text-xl p-2 bg-blue-600 text-white rounded-md hover:bg-blue-500">Cerca</button>
          </form>
          <div id="search-results" class="bg-white p-6 rounded-md shadow-md">
              <ol id="results-list" class="list-decimal pl-5 space-y-4">
                  <!-- I risultati della ricerca verranno inseriti qui -->
              </ol>
              <p id="error-message" class="text-red-600 hidden">Si è verificato un errore durante la ricerca.</p>
          </div>
      </div>
      <div id="article-text" class="mt-6 bg-white p-6 rounded-lg shadow-md text-gray-800 leading-relaxed">
          <!-- Il testo dell'articolo completo verrà inserito qui -->
      </div>
  </div>
  <div id="user-articles-container" class="mt-8">
      <!-- Gli articoli dell'utente verranno inseriti qui -->
  </div>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/articles.js"></script>
</body>
</html>
