<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenWiki</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body>
    <div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1567177662154-dfeb4c93b6ae?q=80&w=3264&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">OpenWiki</h1>
            <p class="mb-5">Accedi o registrati ora per poter cercare,scaricare e modificare a tuo piacimento tutti gli articoli presenti su Wikipedia.</p>
            <a href="/login">
                <button class="btn btn-primary">Accedi</button>
            </a>
 
          </div>
        </div>
    </div>

    <script  src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</body>
</html>