<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body>
    <form id="loginForm" class="mt-4 mx-auto flex flex-col justify-center gap-4 bg-gray-100 p-4 rounded-md max-w-sm">
        <input type="email" placeholder="Email" class="input">
        <input type="password" placeholder="Password" class="input">
        <button type="submit" class="btn btn-primary">Accedi</button>
        <br>
    </form>
                <!-- separator -->
                <hr class="my-4 border-base-200 border-2">
                <h6 class="text-center text-gray-500">Se non hai ancora un account</h6>
                <a href="/signIn">
                    <button class="btn btn-link w-full">Registrati</button>
                </a>
            </div>
        </div>
    </div>


    
        
    <script src="/scripts/login.js"></script>
</body>
</html>


